In [8]:
import numpy as np
import pandas as pd
ipl = pd.read_csv('/content/deliveries.csv')
movie = pd.read_csv('/content/imdb-top-1000.csv')
movie

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [13]:
#looping thorugh group
genre = movie.groupby('Genre')
for group,data in genre:
      print(data[(data['IMDB_Rating'].max())==(data['IMDB_Rating'])]['Series_Title'])

2    The Dark Knight
Name: Series_Title, dtype: object
21    Interstellar
Name: Series_Title, dtype: object
23    Sen to Chihiro no kamikakushi
Name: Series_Title, dtype: object
7    Schindler's List
Name: Series_Title, dtype: object
19       Gisaengchung
26    La vita è bella
Name: Series_Title, dtype: object
1    The Godfather
Name: Series_Title, dtype: object
0    The Shawshank Redemption
Name: Series_Title, dtype: object
688             E.T. the Extra-Terrestrial
698    Willy Wonka & the Chocolate Factory
Name: Series_Title, dtype: object
321    Das Cabinet des Dr. Caligari
Name: Series_Title, dtype: object
309    The Third Man
Name: Series_Title, dtype: object
49    Psycho
Name: Series_Title, dtype: object
69        Memento
81    Rear Window
Name: Series_Title, dtype: object
700    Wait Until Dark
Name: Series_Title, dtype: object
12    Il buono, il brutto, il cattivo
Name: Series_Title, dtype: object

In [20]:
#split (apply) combine stratigie
# we split using group by and then apply transformation and then combine all the res
#apply - > builtin fun
def func(group):
  return ((group['Series_Title'].str[0] == 'A').sum())
genre.apply(func)

<ipython-input-20-6e13dd90a9a3>:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genre.apply(func)

Genre
Action       10
Adventure     2
Animation     2
Biography     9
Comedy       14
Crime         4
Drama        21
Family        0
Fantasy       0
Film-Noir     0
Horror        1
Mystery       0
Thriller      0
Western       0
dtype: int64

In [23]:
#rank movie a/c to thier groups imbd
def ranking(group):
   group['RANK'] = group['IMDB_Rating'].rank(ascending=False)
   return group
genre.apply(ranking)

<ipython-input-23-742a83eeb9db>:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genre.apply(ranking)

                                                   Series_Title Released_Year  \
Genre
Action   2                                      The Dark Knight          2008
         5        The Lord of the Rings: The Return of the King          2003
         8                                            Inception          2010
         10   The Lord of the Rings: The Fellowship of the Ring          2001
         13               The Lord of the Rings: The Two Towers          2002
...                                                         ...           ...
Thriller 700                                    Wait Until Dark          1967
Western  12                     Il buono, il brutto, il cattivo          1966
         48                        Once Upon a Time in the West          1968
         115                         Per qualche dollaro in più          1965
         691                             The Outlaw Josey Wales          1976

              Runtime     Genre  IMDB_Rating           Director  \
Genre
Action   2        152    Action          9.0  Christopher Nolan
         5        201    Action          8.9      Peter Jackson
         8        148    Action          8.8  Christopher Nolan
         10       178    Action          8.8      Peter Jackson
         13       179    Action          8.7      Peter Jackson
...               ...       ...          ...                ...
Thriller 700      108  Thriller          7.8      Terence Young
Western  12       161   Western          8.8       Sergio Leone
         48       165   Western          8.5       Sergio Leone
         115      132   Western          8.3       Sergio Leone
         691      135   Western          7.8     Clint Eastwood

                          Star1  No_of_Votes        Gross  Metascore  RANK
Genre
Action   2       Christian Bale      2303232  534858444.0       84.0   1.0
         5          Elijah Wood      1642758  377845905.0       94.0   2.0
         8    Leonardo DiCaprio      2067042  292576195.0       74.0   3.5
         10         Elijah Wood      1661481  315544750.0       92.0   3.5
         13         Elijah Wood      1485555  342551365.0       87.0   6.0
...                         ...          ...          ...        ...   ...
Thriller 700     Audrey Hepburn        27733   17550741.0       81.0   1.0
Western  12      Clint Eastwood       688390    6100000.0       90.0   1.0
         48         Henry Fonda       302844    5321508.0       80.0   2.0
         115     Clint Eastwood       232772   15000000.0       74.0   3.0
         691     Clint Eastwood        65659   31800000.0       69.0   4.0

[1000 rows x 11 columns]

In [28]:
#multiple col groups

duo = movie.groupby(['Director','Star1'])
duo.size()
duo.get_group(('Zaza Urushadze'	,'Lembit Ulfsak'))
duo.sample()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
65,Taare Zameen Par,2007,165,Drama,8.4,Aamir Khan,Amole Gupte,168895,1223869.0,NaN
612,The Trial of the Chicago 7,2020,129,Drama,7.8,Aaron Sorkin,Eddie Redmayne,89896,853090410.0,77.0
734,La vie d'Adèle,2013,180,Drama,7.7,Abdellatif Kechiche,Léa Seydoux,138741,2199675.0,89.0
577,Udta Punjab,2016,148,Action,7.8,Abhishek Chaubey,Shahid Kapoor,27175,218428303.0,NaN
735,Kai po che!,2013,130,Drama,7.7,Abhishek Kapoor,Amit Sadh,32628,1122527.0,40.0
...,...,...,...,...,...,...,...,...,...,...
138,Mandariinid,2013,87,Drama,8.2,Zaza Urushadze,Lembit Ulfsak,40382,144501.0,73.0
221,Zindagi Na Milegi Dobara,2011,155,Comedy,8.1,Zoya Akhtar,Hrithik Roshan,67927,3108485.0,NaN
334,Gully Boy,2019,154,Drama,8.0,Zoya Akhtar,Vijay Varma,31886,5566534.0,65.0
92,Babam ve Oglum,2005,112,Drama,8.3,Çagan Irmak,Çetin Tekindor,78925,461855363.0,NaN
366,G.O.R.A.,2004,127,Adventure,8.0,Ömer Faruk Sorak,Cem Yilmaz,56960,196206077.0,NaN

In [34]:
#find the direction-actor has earned most amount of money

duo['Gross'].sum().sort_values(ascending=False).head(1)

Director        Star1
Akira Kurosawa  Toshirô Mifune    2.999877e+09
Name: Gross, dtype: float64

In [42]:
#QUESTION SOLVING
#top 10 batmans in term of score
batsman = ipl.groupby("batsman")
batsman['batsman_runs'].sum().sort_values(ascending=False).head(10).reset_index()['batsman']

0           V Kohli
1          SK Raina
2         RG Sharma
3         DA Warner
4          S Dhawan
5          CH Gayle
6          MS Dhoni
7        RV Uthappa
8    AB de Villiers
9         G Gambhir
Name: batsman, dtype: object

In [54]:
#batsman with most sixes
ipl
rn = ipl[ipl['batsman_runs'] == 6]
rn.groupby('batsman')['batsman'].count().sort_values(ascending=False).head(1)

batsman
CH Gayle    327
Name: batsman, dtype: int64

In [66]:
#v kholi score against all teams
mask = ipl['batsman'] == 'V Kohli'
ipl[mask].groupby('bowling_team')['batsman_runs'].sum()
#hw ,, total runs , 4 , 6

bowling_team
Chennai Super Kings        749
Deccan Chargers            306
Delhi Capitals              66
Delhi Daredevils           763
Gujarat Lions              283
Kings XI Punjab            636
Kochi Tuskers Kerala        50
Kolkata Knight Riders      675
Mumbai Indians             628
Pune Warriors              128
Rajasthan Royals           370
Rising Pune Supergiant      83
Rising Pune Supergiants    188
Sunrisers Hyderabad        509
Name: batsman_runs, dtype: int64